<%- include('partials/head') -%>

<header><%- include('../components/navbar-admin') -%></header>

<div
  class="grid grid-cols-3 md:grid md:grid-cols-3 lg:grid lg:grid-cols-3 md:gap-4 md:pr-10 mt-16 w-100"
>
  <main
    class="col-span-6 md:col-span-auto mt-14 mb-20 md:ml-72 h-screen mx-4 md:mt-5"
  >
    <% if (message != false) { %>
    <div
      class="<%= message.backgroundStatus %> px-4 py-2 rounded text-white mb-3 alert"
    >
      <%= message.value %>
    </div>
    <% } %>
    <div>Welcome back <b class="session-username"><%= author %></b></div>
    <div class="overflow-y-hidden md:overflow-visible mt-5">
      <h1>Tutorial</h1>
      <table
        class="table-auto mt-3 border border-collapse border-gray-300 rounded"
      >
        <thead>
          <tr>
            <th class="border border-collapse border-gray-300 p-2">id</th>
            <th class="border border-collapse border-gray-300 p-2">judul</th>
            <th class="border border-collapse border-gray-300 p-2">isi</th>
            <th class="border border-collapse border-gray-300 p-2">penulis</th>
            <th class="border border-collapse border-gray-300 p-2">kategori</th>
            <th class="border border-collapse border-gray-300 p-2">dibuat</th>
            <th class="border border-collapse border-gray-300 p-2">diupdate</th>
            <th class="border border-collapse border-gray-300 p-2">aksi</th>
          </tr>
        </thead>
        <% data.forEach(function(tutorial, key) { %>
        <tbody>
          <td class="border border-collapse border-gray-300 p-2">
            <%= key + 1 %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <%= tutorial.judul %>
          </td>
          <td class="border border-collapse border-gray-300 p-2 remove-tag">
            <%= tutorial.isi %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <%= tutorial.penulis %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <%= tutorial.kategori %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <%= tutorial.dibuat %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <%= tutorial.diupdate %>
          </td>
          <td class="border border-collapse border-gray-300 p-2">
            <a
              href="/admin/tutorial/edit/<%= tutorial.judul %>"
              class="border border-transparent rounded bg-yellow-400 px-4 focus:outline-none"
              >edit</a
            >
            <a
              href="/admin/tutorial/delete/<%= tutorial.judul %>"
              class="border border-transparent rounded bg-red-600 px-4 focus:outline-none"
              >hapus</a
            >
          </td>
        </tbody>
        <% }) %>
      </table>
    </div>
  </main>

  <%- include('../components/sidebar-admin') -%>
</div>

<%- include('partials/footer') -%>
